{% extends 'base.twig'%}
{%block content%}
<h1>Uw bestelling</h1>
<p>Uw bestelling is afgerond en zal spoedig geleverd worden.</p>
<div class="bestelregelsafrekening">
    <h1 id="bestelregelheader"> 
        <div class='winkelmandimg'>
            <img alt="winkelmand" src="Src/Pizzeria/img/winkelmand.png">
        </div>
        <p>WinkelMand</p>
    </h1>
        {% if winkelmand is not null  %}
            {% for key, bestelregel in winkelmand.bestelregels %}
                <div class="bestelregelholder">
                <div class="naam">{{bestelregel['product'].productnaam}}</div>
                <div class="prijs">&euro; {{winkelmand.totaalprijs}}</div>
                </div>
            {% endfor %}
                <div class=" bestelregelholder totaalprijs" >totaalprijs: &euro;{{winkelmand.totaalprijs}}</div>
        {% endif %}
        <div class="klantgegevens">
            <div>
                <label>naam: <span>{{klant.naam}} {{klant.voornaam}}</span></label>
            </div>
            <div>
                <label>adres: <span>{{klant.straat}} {{klant.huisnummer}}</span>
                    <span>{{klant.postcode}},{{klant.woonplaats}}</span></label>
            </div>
            <div>
                <label>telnr: <span>{{klant.telefoon}}</span></label>
            </div>
            <div>
                <label>opmerking: <span>{{klant.opmerking}}</span></label>
            </div>
        </div>        
</div>        
{%endblock%}