{%extends 'base.twig' %}
{%block title%} geef uw adresgegevens in{%endblock%}
{% block content%}
<div id='noscript'>Javascript is niet actief. Deze pagina zal niet volledig naar behoren werken</div>
<h1>Geef uw klantgegevens in</h1>
<form id="klantgegevens" class ="klantgegevens" action="usercontroller.php?action=geenaccount" method="POST">
    <input class="required" name="naam" type="text" placeholder="naam" value="{{klant.naam}}">
    <input class="required" name="voornaam" type="text" placeholder="voornaam" value="{{klant.voornaam}}"> 
    <input class="required" name="adres" type="text" placeholder="adres" value="{{klant.straat}}">
    <input class="required number" name="huisnummer" type="text" placeholder="huisnummer" value="{{klant.huisnummer}}">
    <input class="required number" name="postcode" type="text" placeholder="postcode" value="{{klant.postcode}}">
    <input class="required" name="woonplaats" type="text" placeholder="woonplaats" value="{{klant.woonplaats}}"> 
    <input class="required" name="telefoon" type="tel" placeholder="telefoonnummer" value="{{klant.telefoon}}"> 
    <textarea name="opmerking" placeholder="opmerking">{{klant.opmerking}}</textarea> 
    <input id='CBRegistratie' name="registratie" type="checkbox" value="maak account aan">Vink aan voor registratie</label>
        <input id="email" class="required"  name="email" type="email" placeholder="email">
        <input id="password" class="required" name="password" type="password" placeholder="password">
        <input id="passwordconfirm" class="required" name="passwordconfirm" type="password" placeholder='passwordconfirm'>
    <input name="verzenden" type="submit" value="verzenden"> 
</form>
        {% if errors is defined %}
<div class="error errorklantgegevens">
    {% for error in errors %}
    <p>{{error.message}}</p>
     {%endfor%}
</div>
    {% endif %}
            {%endblock%}
{%block scripts%}
<script  type="text/javascript">


    var oFouten = {
        required: {
            /* enkel voor input type="text|password" */
            msg: "verplicht veld",
            test: function(elem) {
                return elem.value != "";
            }
        },
        number: {
            msg: "moet een getal zijn",
            test: function(elem) {
                return !isNaN(parseInt(elem.value));
            }
        }
    }
    window.onload = function() {
        //noscript verbergen
        document.getElementById('noscript').style.display = "none";

        //extra velden verbergen
        var arr = new Array("email", "password", "passwordconfirm")
        for (var i in arr) {
            toggleExtraFields(arr[i]);
        }

//referentie checkbox

        var eCheckbox = document.getElementById('CBRegistratie');

//eventlistener

        eCheckbox.addEventListener('change', function() {
            for (var i in arr) {
                toggleExtraFields(arr[i]);
            }
        })

        //veldvalidering in JS

        var eForm = document.getElementById("klantgegevens");
        eForm.addEventListener('submit', function(e) {
            e.preventDefault();
            var bValid = valideer(this);
            console.log('formulier ' + this.name + ' valideert ' + bValid);
            if (bValid === true)
                eForm.submit();
        })
        function valideer(frm) {
            var bValid = true; //optimistisch geen fouten
//lus doorheen alle form elementen van het formulier
            for (var i = 0; i < frm.elements.length; i++) {
//verwijder vorige foutboodschappen
                hideErrors(frm.elements[i]);
//valideer veld
                var bVeld = valideerVeld(frm.elements[i]);
                console.log("het element %s met name %s valideert %s", frm.elements[i].nodeName, frm.elements[i].name, bVeld);
                if (bVeld === false) {
                    bValid = false;
                }
            }
            return bValid;
        }

    }
    function valideerVeld(elem) {
//valideert één veld volgens zijn class
        var aFoutBoodschappen = [];
        for (var fout in oFouten) {
            var re = new RegExp("(^|\\s)" + fout + "(\\s|$)"); //regex 
// fouten class aanwezig?
            if (re.test(elem.className) && elem.style.display!=="none") {
                var bTest = oFouten[fout].test(elem);
                console.log("het element %s met name %s wordt gevalideerd voor %s: %s", elem.nodeName, elem.name, fout, bTest);
                if (bTest === false) {
                    aFoutBoodschappen.push(oFouten[fout].msg);
                }
            }
        }
        if (aFoutBoodschappen.length > 0) {
            showErrors(elem, aFoutBoodschappen);
        }
        return !(aFoutBoodschappen.length > 0);
    }
    function showErrors(elem, aErrors) {
        /*
         toont alle fouten voor één element
         @elem     element, te valideren veld
         @aErrors  array, fouten voor dit element
         */
        var eBroertje = elem.nextSibling;
        if (!eBroertje || !(eBroertje.nodeName == "UL" && eBroertje.className == "jserrorklantgegevens")) {
            eBroertje = document.createElement('ul');
            eBroertje.className = "jserrorklantgegevens";
            elem.parentNode.insertBefore(eBroertje, elem.nextSibling);
        }
//plaats alle foutberichten erin
        for (var i = 0; i < aErrors.length; i++) {
            var eLi = document.createElement('li');
            eLi.innerHTML = aErrors[i];
            eBroertje.appendChild(eLi);
        }
    }
    function hideErrors(elem) {
        /*
         verwijdert alle fouten voor één element
         @elem     element, te valideren veld
         */
        var eBroertje = elem.nextSibling;
        if (eBroertje && eBroertje.nodeName == "UL" && eBroertje.className == "fouten") {
            elem.parentNode.removeChild(eBroertje);
        }
    }

    //indien account registratie email en passwoord velden tonen
    function toggleExtraFields(id) {
        var elem = document.getElementById(id);
        if (elem.style.display !== "none") {
            elem.style.display = "none";
        }
        else {
            elem.style.display = "block";
        }
    }


</script>

{%endblock%}