    {% if error=='WinkelmandIsLeeg' %}
<div class="error">
        <p>De winkelmand is nog leeg</p>                
</div>
    {% endif %}
<div class="bestelregels">
    <h1 id="bestelregelheader"> <div class='winkelmandimg'><img alt="winkelmand" src="Src/Pizzeria/img/winkelmand.png"></div><p>WinkelMand</p></h1>
    {% if winkelmand.bestelregels is not null  %}
        {% for key, bestelregel in winkelmand.bestelregels %}
            <div class="bestelregelholder">
                <div class="naam">{{bestelregel.productnaam}}</div>
                {% if besteld is not defined %}    
                    <a  class="verwijderbutton" href="bestelmenucontroller.php?action=verwijderregel&id={{key}}"><img alt="delete" src="Src/Pizzeria/img/delete.png"></a>
                {% endif %}
                <div class="prijs">&euro; {{bestelregel.productprijs/100}}</div>
            </div>
        {% endfor %}
        {% if korting != 0 %}
            <div class="bestelregelholder totaalprijs" >korting: &euro; {{korting}}</div>
            <div class="bestelregelholder totaalprijs" >totaalprijs: &euro;{{totaalprijs}}</div>
        {% endif %}
            <div class="bestelregelholder totaalprijs" >te betalen: &euro;{{totaalprijs-korting}}</div>
    {% endif %}
    {% if klantdata.naam is not null %}
    <div class="klantgegevens bestelregelholder">
        <div>
            <label>naam: <span>{{klantdata.naam}} {{klantdata.voornaam}}</span></label>
        </div>
        <div>
            <label>adres: <span>{{klantdata.straat}} {{klantdata.huisnummer}}</span>
                <span>{{klantdata.postcode.postcode}},{{klantdata.postcode.woonplaats}}</span></label>
        </div>
        <div>
            <label>telnr: <span>{{klantdata.telefoon}}</span></label>
        </div>
        <div>
            <label>opmerking: <span>{{klantdata.opmerking}}</span></label>
        </div>
    </div>   
    <div class="buttons">
        <a href="usercontroller.php?action=verandergegevens"><button>verander adresgegevens</button></a>
        <a href="bestelmenucontroller.php?action=veranderbestelling"><button>verander bestelling</button></a>
        {% endif %}
        <a href="bestelmenucontroller.php?action=afrekenen"><button>afrekenen</button></a>
    </div>
</div>
